
.spotify-login {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 500px;
}

.spotify-logo {
	width:200px;
	height:200px;
}

.login-button {
	margin-top: 50px;
	height: 2rem;
	width: 12rem;

}